h1 {text-align: center; font-weight: 400;}
a  {text-decoration: underline tomato; color: tomato;}
p {text-align: left; text-size: larger; font-family: Arial, Helvetica, sans-serif;}
div {border-style: solid; background-color: whitesmoke;}